@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {

    scroll-behavior: smooth;
}

:root {
    --color1: #469B9B;
    --color2: #F06B1D;
    --color3: #00EFEE;
    --color4: #B06A41;
    --color5: #705546;
}

h1, h2, p, a, button {
    font-family: 'Tilt Neon', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color4);
}

header {
    background-color: var(--color1);
    margin-bottom: 20px;
    width: 100%;
    position: fixed;
    border-bottom: 2px solid var(--color3);
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color4);
}

.otherbackground {
    background-color: var(--color5);
}

section p {
    width: 50%;
    text-align: justify;
    border-bottom: 3px solid var(--color2);
    border-top: 3px solid var(--color2);
    padding: 10px 0;
}

h1, h2 {
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    display: inline;
    padding: 10px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    transition: background-color 0.3s;
}

nav li:hover {
    background-color: var(--color3);

    a {
        color: var(--color1)
    }
}

nav a {
    text-decoration: none;
    color: white;
}

button {
    background-color: var(--color1);
    border-radius: 10px;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: padding 0.3s;
}

button:hover {
    background-color: var(--color2);
    padding: 10px 40px;
}

.indice {
    border: 3px solid var(--color2);
    background-color: var(--color4);
    border-radius: 5px;
    text-align: center;
    color: white;
    transition: all 0.2s ease-in-out;
}

.indice:hover {
    color: #c6e2ff;
    text-shadow: 0 0 54px rgba(202, 228, 225, 1);
}

footer {
    padding: 20px;
    background-color: var(--color1);
    border-top: 2px solid var(--color3);
    color: white;
}


.scintillement {
    font-size: 3rem;
    animation: scintillement 1.5s infinite alternate;
}

/* Animation de scintillement */
@keyframes scintillement {
    0% {
        opacity: 1;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff007f, 0 0 40px #ff007f, 0 0 50px #ff007f, 0 0 60px #ff007f, 0 0 70px #ff007f;
    }
    50% {
        opacity: 0.6;
        text-shadow: 0 0 5px #fff, 0 0 10px #ff00ff, 0 0 15px #ff007f, 0 0 20px #ff007f, 0 0 25px #ff007f, 0 0 30px #ff007f, 0 0 35px #ff007f;
    }
    100% {
        opacity: 0.3;
        text-shadow: 0 0 2px #fff, 0 0 5px #ff00ff, 0 0 10px #ff007f, 0 0 15px #ff007f, 0 0 20px #ff007f, 0 0 25px #ff007f, 0 0 30px #ff007f;
    }
}